<div class='row'>
  <div class='large-3 columns'</div>
    <h3>EDIT<br>QUESTION</h3>
  </div>
  <div class='large-9 columns'</div>
    <%= form_for @question do |f| %>
      <% if @question.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@question.errors.count, "error") %> prohibited this question from being submitted:</h3>
          <ul>

          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>

          </ul>
        </div>
      <% end %>

      <p>
        <%= f.label :text, "Question text" %><br>
        <%= f.text_field :text %>
      </p>

      <p>
        <%= fields_for "correct_answer", @question.correct_answer do |answer| %>
          <%= answer.label :text, "Correct Answer" %><br>
          <%= answer.text_field :text %>
        <% end %>
      </p>

      <% @question.wrong_answers.each_with_index do |answer, i| %>
        <%= fields_for "wrong_answers[#{i}]", answer do |f| %>
          <p>
          <%= f.label :text, "Wrong Answer" %><br>
          <%= f.text_field :text %>
          </p>
        <% end %>
      <% end %>

      <%= f.submit 'UPDATE QUESTION', class: 'button' %>
    <% end %>
  </div>
</div>
