<div class='course-info row'>
  <div class='large-3 columns'>
    <h3>
      <%= link_to @assignment.course.title.upcase, course_path(@assignment.course) %>
    </h3>
  </div>
  <div class='large-9 columns'>
    <h3> <%= @assignment.title %> </h3>
    <% if @assignment.user == current_user || current_user.admin? %>
      <%= link_to "Delete Assignment", assignment_path(@assignment),
          method: :delete,
          data: { confirm: 'Are you sure you want to delete this assignment and all its content?' } %><br>
    <% elsif @assignment.user == current_user %>
      <%= link_to "Update Assignment Info", edit_assignment_path(@assignment) %>
    <% else %>
      <p>
        created by: <%= link_to @assignment.user.name, user_path(@assignment.user) %><br>
      </p>
  <% end %>
  </div>
</div>

<% if @assignment.elements.any? %>
<div class='body row'>
  <div class='large-3 columns'></div>
  <div class='large-9 columns'>
    <% @assignment.elements.each do |element| %>
      <% if element.type_id == 1 %>
        <div class="text">
          <h4> <%= element.title %> </h4>
          <%= render partial: 'assignments/delete_element', locals: { assignment: @assignment, element: element } %>
          <p> <%= element.content %> <p>
          <strong>Source: </strong><%= element.citation %>
        </div>
      <% elsif element.type_id == 2 %>
        <div class="tipbox">
          <h4> <%= element.title %> </h4>
          <%= render partial: 'assignments/delete_element',
          locals: { assignment: @assignment, element: element } %>
          <%= element.content %><br>
          <strong>Source: </strong><%= element.citation %>
        </div>
      <% elsif element.type_id == 3 %>
        <div class="image">
          <h4> <%= element.title %> </h4>
          <%= render partial: 'assignments/delete_element',
          locals: { assignment: @assignment, element: element } %>
          <%= image_tag(element.url) %><br>
          <strong>Source: </strong><%= element.citation %>
        </div>
      <% elsif element.type_id == 4 %>
        <div class="video">
          <h4> <%= element.title %> </h4>
          <%= render partial: 'assignments/delete_element',
          locals: { assignment: @assignment, element: element } %>
          <iframe
          src=<%= "http:#{element.url}"%> width="560" height="315" >
          </iframe><br>
          <strong>Source: </strong><%= element.citation %>
        </div>
      <% elsif element.type_id == 5 %>
        <div class="markdown">
          <h4> <%= element.title %> </h4>
          <%= render partial: 'assignments/delete_element',
          locals: { assignment: @assignment, element: element } %>
          <%= kramdown(element.content) %><br>
          <strong>Source: </strong><%= element.citation %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
<% if @assignment.user == current_user || current_user.admin? %>
  <div class='new element row'>
    <div class='large-3 columns'>
      <h3>ADD<br>SOME<br>MORE<br>CONTENT</h3>
    </div>
    <div class='large-9 columns'>
      <%= form_for [@assignment, @element] do |f| %>
        <% if @element.errors.any? %>
        <div id="error_explanation">
          <p class="alert-box alert">
          <%= pluralize(@element.errors.count, "error") %>
           prohibited this post from being saved:</p>
          <ul>
          <% @element.errors.full_messages.each do |msg| %>
            <li class="alert-box secondary"><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <p>
          <%= f.label :type_id, "Element Type" %>
          <%= f.select :type_id, options=[["Text", 1], ["Tipbox", 2], ["Image", 3], ["Video", 4], ["Markdown", 5]], class: 'select-el' %>
        </p>
        <p>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </p>
        <p id='el-url', style="display:none">
          <%= f.label :url %>
          <%= f.text_field :url %>
        </p>
        <p id= 'el-content'>
          <%= f.label :content %>
          <%= f.text_area :content %>
        </p>
        <p id= 'el-embed', style="display:none">
          <%= f.label :video_embed %>
          <%= f.text_area :video_embed %>
        </p>
        <p>
          <%= f.label :citation %>
          <%= f.text_field :citation %>
        </p>
        <p>
          <%= f.submit "SAVE CONTENT", class: 'button' %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
