<div class='row'>
  <div class='large-3 columns'>
    <h3> UPDATE<br>ELEMENT</h3>
  </div>
  <div class='large-9 columns'>
    <%= form_for @element do |f| %>
      <% if @element.errors.any? %>
      <div id="error_explanation">
        <p class="alert-box alert"><%= pluralize(@element.errors.count, "error") %> prohibited this post from being saved:</p>

        <ul>
        <% @element.errors.full_messages.each do |msg| %>
          <li class="alert-box secondary"><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <p>
        <%= f.label :type_id, "Element Type" %>
        <%= f.select :type_id, options=
        [["Text", 1],
        ["Tipbox", 2],
        ["Image", 3],
        ["Video", 4],
        ["Markdown", 5]] %>
      </p>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :url %>
        <%= f.text_field :url %>
      </p>
      <p>
        <%= f.label :content %>
        <%= f.text_area :content %>
      </p>
      <p>
        <%= f.label :citation %>
        <%= f.text_field :citation %>
      </p>
      <p>
        <%= f.submit "UPDATE ELEMENT", class: 'button' %>
      </p>
    <% end %>
  </div>
</div>
