<div id= 'user' class='row'>
  <div class='large-3 columns'>
    <h3><%= @user.name.upcase %></h3>
  </div>
  <div class='large-9 columns'>
    <% if @user == current_user %>
      <h4>That's you!</h4>
      <h4>email:</h4> <%= @user.email %>
      <h4>role:</h4><%= @user.role %>
    <% end %>
    <h4>member since:</h4> <%= @user.created_at.strftime("%b %d, %Y") %><br>
  </div>
</div>
<div id='about' class='row'>
  <div class='large-3 columns'>
    <h3>COURSES<br>AUTHORED</h3>
  </div>
  <div class='large-9 columns'>
    <% if @user.role == 'member' %>
        Contact the site admin and apply for course instructor profile with ur resume <h3>admin@learnable.in</h3>
    <% else %>
          <% if @user.courses.any? %>
              <% @user.courses.each do |course| %>
                <h4><%= link_to course.title, course_path(course) %></h4>
              <% end %>
          <% else %>
             <% if @user == current_user %>

              You haven't created any courses yet!
              <%= link_to "Make one", new_course_path %> now?
             <% else %>
              This user hasn't authored any courses yet!
             <% end %>
          <% end %>
    <% end %>
    <h4>courses enrolled in:</h4>
    <% if @enrollments.any? %>
      <ul>
        <% @enrollments.each do |enrollment| %>
          <li><%= link_to enrollment.course.title,
           course_path(enrollment.course) %></li>
        <% end %>
      </ul>
    <% else %>
       <% if @user == current_user %>
        You aren't enrolled in any courses yet!
       <% else %>
        This user hasn't enrolled in any courses yet!
       <% end %>
    <% end %>
  </div>
</div>
