<div id='title', class='row'>
  <h1 id='outteach'><span class='subheader'>Learnable<br>Learning Management System</h1>


<div id='about', class='body row'>
  <div class='large-3 columns'>
  <h3>RECENTLY<br>ADDED<br>COURSES</h3>
  </div>
  <div class='large-9 columns'>
      <% @courses.each do |course| %>
        <% if user_signed_in? %>
          <h4><%= link_to course.title, course_path(course) %></h4>
           by <%= link_to course.user.name, user_path(course.user) %><br>
        <% else %>
          <h4><%= course.title %></h4>
           by <%= course.user.name %><br>
        <% end %>
      <% end %><br>

    <% if user_signed_in? %>
      <%= link_to "VIEW ALL COURSES", courses_path, class: 'button' %>
    <% else %>
      <h4>
        <%= link_to "Log in", new_user_session_path %> or
        <%= link_to "Sign up", new_user_registration_path %>
        to view more courses or add your own !!!
      </h4>
    <% end %>
  </div>
</div>

<div id= 'how' class='row'>
  <div class='large-3 columns'>
    <h3>HOW TO<br></h3>
  </div>
  <div class='large-9 columns'>
    <h4> Learnable is a open courseware site for programmers both new and seasoned.<br>
    </h4>
  </div>
</div>

<div id='info', class='row'>

  <div class='large-3 columns'>
    <h3>ABOUT<br>THIS<br>WEBSITE</h3>
  </div>
  <div class='large-9 columns'>
    <h4>hello !
    </h4>
  </div>
</div>
